#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

#navcontainer li { margin: 1px; }

#navcontainer a
{
  display: block;
  color: #FFF;
  background-color: #ddd;
  width: 9em;
  padding: 10px;
  margin: 0px;
  border: 25px;
  text-decoration: none;
  text-indent: 5px;
}

#navcontainer p
{
    text-indent: 50px;
}

#navcontainer a:hover
{
background-color: #369;
color: #FFF;
}

#navcontainer ul { list-style-type: none; }